<h1><%= @show[:venue] %>    </h1>
<h2><%= @show[:location] %></h2>
<h2><%= @show[:date] %></h2>
<p><%= @show[:setlist] %></p>

<h3>Memories:</h3><br>
<a href="/shows/<%=@show.date_slug%>/add_show">Add to My Shows</a>

<a>Add a Memory</a><br>
<a href="/fans/<%= @current_user.slug %>">Back to homepage</a><br>
<a href="/years/<%=@show.year.value%>">Back to current year</a><br>
<a href="/years">Back to years index</a>
