<% if flash.has?(:show_added) %>
    <h2><%= flash[:show_added] %></h2>
<% end %>

<% if flash.has?(:show_not_added) %>
    <h2><%= flash[:show_not_added] %></h2>
<% end %>

<% if flash.has?(:edit_creds) %>
    <h2><%= flash[:edit_creds] %></h2>
<% end %>

<h1><%= @show[:venue] %>    </h1>
<h2><%= @show[:location] %></h2>
<h2><%= @show[:date] %></h2>
<p><%= @show[:setlist] %></p>

<h4>Memories:</h4><br>
    <% @show.memories.each do |m| %>
    <%=m.fan.username%> says: <%= m. content %>
    <a href="/memories/<%=m.id%>/edit">edit</a> <br>
    <% end %><br>
    <br>
<div>
<a href="/shows/<%=@show.date_slug%>/add_show">Add to My Shows</a><br>
<a href="/memories/<%=@show.date_slug%>/new">Add a Memory</a><br>
<a href="/shows/<%= @show.date_slug %>/remove">Remove from my shows</a><br>
<a href="/fans/<%= @current_user.slug %>">Back to homepage</a><br>
<a href="/years/<%=@show.year.value%>">Back to current year</a><br>
<a href="/years">Back to years index</a>
</div>