<h1>PHISH in <%= @year.value %></h1>

<% @year.shows.reverse.each do |s| %>
    <a href="/shows/<%= s.date_slug %>">
    <h3><%= s[:venue] %></h3> 
    <h4><%= s[:location]%></h4> 
    <h4><%= s[:date] %></h4>
    <p> <%= s[:setlist] %> </p>
    

    <a href="/shows/<%=s.date_slug%>/add_show">Add to My Shows</a>
<% end %>