<h1>PHISH in <%= @year.value %></h1>

<% @year.shows.reverse.each do |s| %>
    <a href="/shows/<%= s.date_slug %>">
    <h3><%= s[:venue] %></h3> 
    <h4><%= s[:location]%></h4> 
    <h4><%= s[:date] %></h4>
    <p> <%= s[:setlist] %> </p>
    

    <span><a>Add to My Shows</a>    <a>Add a memory</a></span>
<% end %>